{{form_start(form_search, {attr: {class: 'filter'}}) }}
{{form_row(form_search.q)}}
<h4>Type d'horaires</h4>
{{form_row(form_search.typeHoraire)}}

<button type="submit" class="btn btn-outline-success w-100">Filtrer</button>
{{form_end(form_search)}}
<style>
form{display: block;}
</style>